<h1>All Destinations By Rating:</h1>

<ol>
@if (Model.Count == 0)
{
  <h1>There are no destinations!</h1> 
}

@foreach (Destination destination in Model)
{
  <li>
    <ul>
      <li>City: @destination.City</li>
      <li>Country: @destination.Country</li>
      <li>Average Rating: @destination.AverageRating</li>
    </ul>
    <a href="/Destinations/Details/@(destination.DestinationId)"><p>View Details</p></a>
    <br>
  </li>
}
</ol>