<h1>All Reviews:</h1>

<ol>
@foreach (Review review in Model)
{
  <ul>
    <li>Body: @review.Body</li>
    <li>Rating: @review.Rating</li>
    <li>Date: @review.Date</li>
    <li>DestinationId: @review.DestinationId</li>
  </ul>
  <a href="/Reviews/Details/@(review.ReviewId)"><p>View Details</p></a>
  <br>
}
</ol>